@media (max-width: 700px) and (min-width: 0px){
   .nav{
    display: none;
   }
   .menu-2{
    display: block!important;
    text-align: center;
    font-weight: 600!important;
    padding-top: 200px;
   }
   .menu{
    display: none!important;
   }
}